h1{
    text-align: center;
    background-color: #f5f5dc;
    padding: 50px;
    margin-top: 0;
    font-family: times;
    font-size: 50px;
}

nav{
    margin-left: 5%;
    background-color: #f5f5dc;
    font-family: times;
    font-size: 20px;
    overflow: hidden;
}

#home_view img{
    width: 100px;
    float: right;
    margin: 10px;
}

#contact_view img{
    width: 50px;
}

#research_view img{
    width: 60%;
    class: center;
}

div{
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1.6;
    font-size: 20px;
}

footer{
    text-align: center;
    font-size: 15px;
    margin-top: 80px;
    margin-bottom: 20px;
}

button{
    margin: 10px;
    border-radius: 12px;
}
